
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		
		<ul class="nav">
			<li class="nav-item active">
				<a href="/Home/Index">
					<i class="la la-dashboard"></i>
					<p>Ana Sayfa</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index">
					<i class="la la-align-right"></i>
					<p>Kategoriler</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Product/Index">
					<i class="la la-keyboard-o"></i>
					<p>Ürünler</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Booking/Index">
					<i class="la la-th"></i>
					<p>Rezervasyon</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index">
					<i class="la la-paper-plane"></i>
					<p>İletişim</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Discount/Index">
					<i class="la la-star"></i>
					<p>İndirim</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index">
					<i class="la la-link"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial/Index">
					<i class="la la-comments-o"></i>
					<p>Müşteri Yorumları</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Notifications/Index">
					<i class="la la-bell"></i>
					<p>Bildirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTable/Index">
					<i class="la la-book"></i>
					<p>Masalar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-group"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Mail/Index">
					<i class="la la-envelope"></i>
					<p>Mail</p>
				</a>
			</li>
		</ul>
	</div>
</div>