
@{
    Layout = null;
}
<html>
<head>
	<title>Restorant | 404</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="~/css/404page.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<h1>404 Galiba kayboldunuz.</h1>

<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
</section>
<div class="link-container">
        <a t href="https://localhost:7031/Default/Index" class="more-link">Ana Sayfaya Dön</a>
</div>
</body>
